@import "tailwindcss";

@theme {
  --animate-rotate-once: rotateOnce 1s cubic-bezier(0.3, -0.55, 0.27, 1.55);

  @keyframes rotateOnce {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

